@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">

        <!-- slide part -->

        <div class="slideshow">

            <img src="./Brand photo/spot-capital-fb1200x630.png" alt="img">
            <div class="right">
                <h1>ShoeStore</h1>
                <p>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ipsa facilis dolor,
                    possimus nihil quidem asperiores nulla
                    officia quae nesciunt voluptatem quis omnis doloribus nisi quos minus molestias enim veritatis.
                </p>
            </div>
        </div>




   
</div>
